@import '../../global.scss';

.primaryButton {
  width: fit-content;
  border-radius: .75rem;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 2rem;
  text-align: center;
  background: $green;
  border: none;
  box-shadow: none;
  transition: .2s;
  &.fullWidth {
    width: 100%;
  }
  &:disabled {
    opacity: .2;
  }
  &:not(.primaryButton:disabled) {
    cursor: pointer;
  }
  &:hover {
    &:not(.primaryButton:disabled) {
      opacity: .8;
    }
  }
}